<h3><%= @recipe.name%></h3>

<% check_box = @recipe.is_done? ? "[x]" : "[ ]"%>

<h5><a href="/markdone/<%= @recipe_index %>"><%= check_box%></a></h5>

<p>Preparation time: <%= @recipe.prep_time %>min.</p>
<p>Cooking time: <%= @recipe.cook_time %>min.</p>

<h4>Ingredients:</h4>
<p><%= @recipe.ingredients%></p>

<h4>Instructions</h4>
<p><%= @recipe.instructions%></p>

<p>
  <a href="<%= @recipe.url%>">See this on Let's Cook French</a>
</p>
<p>
  <a href="/confirm/<%= @recipe_index %>">Delete</a>
</p>
<p>
  <a href="/cookbook">Back to my Cookbook</a>
</p>
